# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.mk
*.elf
*.map
*.args
*.d
*.lst
*.cproject
*.project
*makefile
*.prefs
*.orig